@model TraningGenerator.Models.PersonTrainingInfo

@{

    IEnumerable<SelectListItem> trainingSelection = (IEnumerable<SelectListItem>)ViewData["traningSelection"];
}

<p>Fyll i frågorna nedan om din träning för att generera ditt nya träningsprogram!</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="TrainingRecommendation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfBirth" class="control-label"></label>
                <input asp-for="YearOfBirth" class="form-control" />
                <span asp-validation-for="YearOfBirth" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="TrainingNow" class="control-label"></label>
                <input asp-for="TrainingNow" class="form-control" />
                <span asp-validation-for="TrainingNow" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FavoriteTraining" class="control-label"></label>
                <br />
                <span asp-validation-for="FavoriteTraining" class="text-danger"></span>
                @foreach (SelectListItem item in trainingSelection)
                {
                    <input asp-for="FavoriteTraining" type="radio" value="@item.Value"> @item.Text<br />
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Generera nytt träningsprogram" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Börja om</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
